<html lang="en">
<head>
   <title>Kaushik Samanta</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
   <link href="app/css/style.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body ng-app="Resume" ng-controller="DemoController">
<div>
   <header>
      <h1>My Name is Kaushik Samanta</h1>
      <h2>I'm a Full stack Developer From Chandigarh</h2>
   </header>
   <nav>
      <ul>
         <li>
            <a title="About"
                  ng-class="{active:transition=='slide-left'}" 		ng-click="left()">
               About
            </a>
         </li>
         <li>
            <a title="Tech-Skills"
                  ng-class="{'active':transition=='slide-right'}" 	ng-click="right()">
               Tech-Skills
            </a>
         </li>
         <li>
            <a title="Projects"
                  ng-class="{'active':transition=='slide-top'}" 		ng-click="top()">
               Projects
            </a>
         </li>
         <li>
            <a title="Contact"
                  ng-class="{'active':transition=='slide-bottom'}" 	ng-click="bottom()">
               Contact
            </a>
         </li>
      </ul>
   </nav>

   <div class="content">
      <div ui-view ng-class="transition">

      </div>
   </div>
</div>
<script src="http://code.angularjs.org/1.2.10/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script>
<script src="app/js/main.js"></script>
</body>
</html>