<div class="tab tab1">
    <p>
        Hello, my name is Kaushik Samanta, I'm a FullStack Developer from Chandigarh.
        Before Even completing my degree i got a 1 Year internship offer from Jugnoo.
        After interning for 6 months i was  later transferred to click labs.<br>
        Here are some things that describe me :
    </p>
    <ul>
        <li>
            All Things Tech : Interests ranging from Digital Electronics to AI to Machine Learning
        </li>
        <li>
            Stack Overflow
        </li>
        <li>
            Open-Source
        </li>
        <li>
            Quora
        </li>
        <li>
            Food
        </li>
        <li>
            Music
        </li>
    </ul>
</div>