<div class="tab tab2">
    <p>
        I can program in 7 languages, but I prefer to program in Python and Javascript.
    </p>
    <div class="content">
        <div style="float: left;width: 25%;">
            <h3>Design Skills</h3>
            <ul>
                <li>HTML <i class="fa fa-html5" style="color:inherit; font-size:25px;"></i></li>
                <li>CSS <i class="fa fa-css3" style="color:inherit; font-size:20px;"></i></li>
                <li>Photoshop (Basic)</li>
            </ul>
        </div>
        <div style="float: left;;width: 25%;">
            <h3>Languages</h3>
            <ul>
                <li>JavaScript</li>
                <li>Node.js</li>
                <li>Mongo DB</li>
                <li>SQL</li>
                <li>Python</li>
                <li>C</li>
                <li>C++</li>
                <li>Java</li>
            </ul>
        </div>
        <div style="float: left;;width: 25%;">
            <h3>Frameworks</h3>
            <ul>
                <li>Express Js</li>
                <li>Hapi Js</li>
                <li>Angular Js</li>
                <li>React Js</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
            </ul>
        </div>
        <div style="float: left;;width: 25%;">
            <h3>Tools</h3>
            <ul>
                <li>Node Package Manager (NPM)</li>
                <li>Python Package Index (PIP)</li>
                <li>Bower</li>
                <li>Yeoman</li>
                <li>Grunt</li>
                <li>Gulp</li>
            </ul>
        </div>
    </div>
</div>