<div class="tab tab3">
    <p>
        Most of the projects are Open Source on Github.
    </p>
    <div class="content">
        <div style="float: left;width: 48%;border-style: solid;border-color: azure;padding: 3px 5px;">
            <h3>Fastvan</h3>
            <h4>(Logistics And Supply Chain)</h4>
            <h5>Starting October 2015</h5>
            <h5>Fastvan is a real-time on demand network for local courier availability. Customers can choose the service type and submit their delivery request and instantly find nearby courier driver’s to service their needs users can then follow their van/truck in real time, all the way through delivery.
                Automatic notifications are sent when the driver reaches your location and when delivers your good, you can then rate the driver on the app; customer also receives an automatic invoice on email to show the breakdown of their delivery request.
            </h5>
            <h5>Technologies Used: Angular Js,Bootstrap.</h5>
        </div>
        <div style="float: left;width: 48%;border-style: solid;border-color: azure;padding: 3px 5px;">
            <h3>Homegenie</h3>
            <h4>(On demand Home Maintainence)</h4>
            <h5>Starting February 2016</h5>
            <h5>
                Homegenie is a real-time on demand network for home maintenance services in dubai. Customers can choose the different categories and submit their request and instantly find nearby supplier’s genie to service their needs users can then follow their genie in real time, all the way through delivery. Automatic notifications are sent when the driver reaches your location and when delivers your good, you can then rate the driver on the app; customer also receives an automatic invoice on email to show the breakdown of their delivery request.
            </h5>
            <h5>Technologies Used: Angular Js,Bootstrap.</h5>
        </div>
    </div>
</div>