<div class="tab tab4">
    <div class="content">
        <div style="float: left;width: 50%;">
            <h3>
                <i class="fa fa-github fa-fw"></i>  https://github.com/kaushiksamanta
            </h3>
        </div>
        <div style="float: left;width: 50%">
            <h3>
                <i class="fa fa-envelope fa-fw"></i>  kaushiksamanta23@gmail.com
            </h3>
        </div>
        <div style="float: left;width: 100%;">
            <img src="app/img/Map.png" style="width: inherit">
        </div>
    </div>
</div>